h2 {
  color: var(--mat-sys-tertiary);
}

p {
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

.order-number-container {
  width: fit-content;
  padding: var(--space-6);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  color: var(--mat-sys-on-tertiary-container);
  background-color: var(--mat-sys-tertiary-container);
  border-radius: var(--mat-sys-corner-large);
}

.order-number {
  font: var(--mat-sys-title-large);
  letter-spacing: var(--mat-sys-title-large-tracking);
  font-weight: bold;
}
