<main class="page-container">
  @if (orderDetails(); as orderDetails) {
    <app-order-details
      [orderDetails]="orderDetails"
      [loadingOrderDetails]="loadingOrderDetails()"
      (refreshOrderDetails)="refreshOrderDetails()"
    />
  } @else {
    @if (loadingOrderDetails()) {
      <div class="spinner-container">
        <mat-spinner diameter="48" />
      </div>
    }
    @if (orderDetailsError(); as errorDetails) {
      <div class="heading-row">
        @if (errorDetails.status === HttpStatusCode.NotFound) {
          <p>Order details not found for order with order number {{ orderNumber() }}</p>
        } @else {
          <p>An error occurred while loading order details!</p>
        }

        <a matButton routerLink="/">Back</a>
      </div>

      @if (errorDetails.status !== HttpStatusCode.NotFound) {
        <pre>{{ errorDetails | json }}</pre>
      }
    }
  }
</main>
