nav {
  height: 6rem;
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/header.webp');
  background-size: cover;

  a {
    margin-left: var(--space-16);
    text-decoration: none;
    color: var(--mat-sys-on-tertiary);
  }

  h1 {
    margin: 0;
    font: var(--mat-sys-display-small);
    letter-spacing: var(--mat-sys-display-small-tracking);
  }
}

.links-container {
  margin-right: var(--space-16);
  display: flex;
  gap: var(--space-4);
}
