.info-box {
  margin: var(--space-1);
  padding: var(--space-6);
  outline: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-small);
  color: var(--mat-sys-secondary);
  display: flex;
  align-items: center;
  gap: var(--space-3);

  span {
    display: block;
    font: var(--mat-sys-label-large);
    letter-spacing: var(--mat-sys-label-large-tracking);
  }
}
