.info-box {
  margin: calc(var(--base-spacing));
  padding: calc(var(--base-spacing) * 6);
  outline: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-small);
  color: var(--mat-sys-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--base-spacing) * 3);

  span {
    display: block;
    font: var(--mat-sys-label-large);
    letter-spacing: var(--mat-sys-label-large-tracking);
  }
}
