form {
  display: flex;
  flex-direction: column;
  align-items: end;

  mat-form-field {
    width: 100%;
  }
}

.form-actions {
  margin-top: var(--space-4);
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: var(--space-4);
}
