<div class="orders-heading">
  <h3>Orders</h3>

  <div>
    <button matIconButton (click)="refreshOrders()" [disabled]="orders.isLoading()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

@if (orders.isLoading() && !orders.hasValue()) {
  <div class="spinner-container">
    <mat-spinner [diameter]="48" />
  </div>
}

@if (orders.error()) {
  <app-info-box>
    <p>An error occurred while loading the available orders:</p>
    <pre>{{ orders.error() | json }}</pre>
  </app-info-box>
}

@if (orders.hasValue()) {
  <app-order-table [orders]="orders.value()" />
}
