/* You can add global styles to this file, and also import other style files */
:root {
  --base-spacing: 0.25rem;
}

.page-container {
  margin: calc(var(--base-spacing) * 12) calc(var(--base-spacing) * 16);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-spacing) * 4);
}
